:root {
    --cor_primaria: #253031;
    --cor_secundaria: #315659;
    --cor_terciaria: #2978a0;
    --cor_quaternaria: #bcab79;
    --cor_quinta: #c6e0ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--cor_quinta);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--cor_secundaria);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: var(--cor_quaternaria);
}

form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

form button {
    padding: 10px 20px;
    background-color: var(--cor_terciaria);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--cor_primaria);
}

.resultado {
    margin-top: 20px;
    background-color: var(--cor_primaria);
    padding: 15px;
    border-radius: 10px;
    color: #fff;
}